<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<header>
  <h1>CENTRAL DE GERENCIAMENTO DE EQUIPAMENTOS</h1>
  
</header>

<body>
    <nav>
        <ul>
                
                
            </li>
            
            </li>
        
            <li>
                <div>
                <a href="/usuario/add">adicionar</a>
            </div>
                
            </li>
        </ul>
        <img src="{{url_for('static', filename='img/images.jpeg')}}">
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}

    </main>
</body>
</html>